
.item-container {
  height: 150px;
  width: 150px;
  border: 2.5px solid blue;
  background-color: #f3f3f3;
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}


